.env
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
node_modules/
infra/backend/terraform.tfstate
infra/backend/terraform.tfstate.backup
infra/backend/.terraform/
infra/ansible/inventory.ini
